.footer__container {
    display: flex;
}

.footer__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer__left-text {
    margin: 20px 0px;
}

.footer__left-socials {
    display: flex;
}

.footer__left-socialfb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #3B5999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__left-socialig {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #E4405F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__left-socialtwt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #55ACEE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__left-socialpins {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #E60023;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__center {
    flex: 1;
    padding: 20px; /*10px looks better to me but code has 20px*/
}

.footer__center h3 {
    margin-bottom: 30px;
}



.footer__center ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer__center li {
    width: 50%;
    margin-bottom: 10px;
}


.footer__right {
    flex: 1;
    padding: 20px;
}

.footer__right-contactitems {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
