.footer__container {
    display: flex;
}

.footer__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer__left-text {
    margin: 20px 0px;
}

.footer__left-socials {
    display: flex;
}

.footer__left-socialfb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #3B5999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__left-socialig {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #E4405F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__left-socialtwt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #55ACEE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 

.footer__left-socialpins {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #E60023;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
} 