.nav__container {
    height: 60px;
}

.nav__container-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__left {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__left-language {
    font-size: 14px;
    cursor: pointer;
}

.nav__left-search {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.nav__left-searchinput {
    border: none;
}

.nav__center {
    flex: 1;
    text-align: center;
}

.nav__center-logo {
    font-weight: bold;
}

.nav__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__right-menuitem {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}